*{
    margin: 0;
    padding: 0;
}


body{
    background-color: black;
    color: white;
    display: flex;
}

.left{
    width: 25vw;
    padding: 10px;
}
.right{
    width: 75vw;
}
.home{
    padding: 10px;
}
.home ul li{
    list-style: none;
    width: 14px;
    gap: 15px;
    display: flex;
    padding-top: 14px;
    font-weight: bold;

}
.heading{
    list-style: none;
    width: 100%;
    gap: 15px;
    display: flex;
    padding-top: 14px;
    padding: 2px 14px;
    font-weight: bold;
    font-size: 13px;

}
.heading img{
    width: 20px;
}

.library{
    min-height: 80vh;
    position: relative;
}


.footer{
    display: flex;
    font-size: 10px;
     color: grey; 
     /* it will not do change clr  */
     gap: 13px;
     position: absolute;
     bottom: 0;
}
.footer a{
    color: grey;
    
}

       







